<form method="post" action="">
    <label>
        Text:
        <input type="text" name="text"/>
    </label>
    <label>
        Lattitude:
        <input type="text" name="lat"/>
    </label>
    <label>
        Longitude:
        <input type="text" name="lon"/>
    </label>
    <input type="submit" name="submit" value="submit" />
</form>
<div>
    <h3>Entries</h3>
{% for text in texts %}
    <div>
        <b>Text: </b>
        <br/>
        {{text.txt}}
    </div><br/>
    <div>
        <b>Ip: </b>{{text.ip}}
        <b>lat: </b>{{text.lat}}
        <b>lon: </b>{{text.lon}}
        <b>date: </b>{{text.date_}}
    </div><br/><hr/><br/>
{% endfor %}
</div>